.row{
    color: white;
    /* margin-left: 20px;
    margin-top: 101px; */
    padding:20px
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
   
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.rowpost{
    max-height: 100px;
    object-fit: contain;
    margin-left: 10px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.rowpost:hover {
    transform: scale(1.08);
}
.largeImg{
    max-height: 250px;
}